.row
  .span6
    .pull-right= link_to 'Edit', edit_store_path(@store), :class=>'btn btn-small'


    %h1
      = image_tag(@store.icon(:original))
      = @store.name
      
    %table{:class=>'table'}
      %tbody
        %tr
          %td Type
          %td= @store.store_type

  .span6



.row
  %h2 Products in this store:
  = render @products