<h1>Listing sku_patterns</h1>

<table>
  <tr>
    <th>Brand</th>
    <th>Pattern</th>
    <th>Condition</th>
    <th>Granularity</th>
    <th>Priority</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sku_patterns.each do |sku_pattern| %>
  <tr>
    <td><%= sku_pattern.brand_id %></td>
    <td><%= sku_pattern.pattern %></td>
    <td><%= sku_pattern.condition %></td>
    <td><%= sku_pattern.granularity %></td>
    <td><%= sku_pattern.priority %></td>
    <td><%= link_to 'Show', sku_pattern %></td>
    <td><%= link_to 'Edit', edit_sku_pattern_path(sku_pattern) %></td>
    <td><%= link_to 'Destroy', sku_pattern, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sku pattern', new_sku_pattern_path %>
