<p id="notice"><%= notice %></p>

<p>
  <b>Brand:</b>
  <%= @sku_pattern.brand_id %>
</p>

<p>
  <b>Pattern:</b>
  <%= @sku_pattern.pattern %>
</p>

<p>
  <b>Condition:</b>
  <%= @sku_pattern.condition %>
</p>

<p>
  <b>Granularity:</b>
  <%= @sku_pattern.granularity %>
</p>

<p>
  <b>Priority:</b>
  <%= @sku_pattern.priority %>
</p>


<%= link_to 'Edit', edit_sku_pattern_path(@sku_pattern) %> |
<%= link_to 'Back', sku_patterns_path %>
