<h1>Listing imports</h1>

<table>
  <tr>
    <th>Format</th>
    <th>Input file</th>
    <th>Error file</th>
    <th>Import date</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @imports.each do |import| %>
  <tr>
    <td><%= import.format %></td>
    <td><%= import.input_file %></td>
    <td><%= import.error_file %></td>
    <td><%= import.import_date %></td>
    <td><%= import.status %></td>
    <td><%= link_to 'Show', import %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Import', new_import_path %>
