.row
  .span6
    %h2 Request

    %dl.dl-horizontal
      %dt Store
      %dd= link_to @mws_request.store.name, @mws_request.store
    
      %dt= 'Amazon request ID' if !@mws_request.amazon_request_id.nil?
      %dd= @mws_request.amazon_request_id
  
      %dt Request type
      %dd= @mws_request.request_type

      %dt Created at
      %dd= @mws_request.created_at
  
      - if !@mws_request.mws_request_id.nil?
        %dt Parent request
        %dd= link_to 'Parent request', @mws_request.parent_request

      - if !@mws_request.feed_type.nil?
        %dt Feed type
        %dd= @mws_request.feed_type
  
        %dt Message type
        %dd= @mws_request.message_type
    
        %dt Feed ID
        %dd= @mws_request.feed_submission_id

        %dt Processing status
        %dd= @mws_request.processing_status
    
        %dt Submitted at
        %dd= @mws_request.submitted_at
        
        %dt Started at
        %dd= @mws_request.started_at
        
        %dt Completed at
        %dd= @mws_request.completed_at.to_s

  .span6
    %h2 Responses
    %table{:class=>'table table-striped table-condensed'}= render @mws_request.mws_responses

.row
  .span12
    %h2 Messages
    %table{:class=>'table table-striped table-condensed'}= render @mws_request.mws_messages
    %br
.row
  .span12
  
    %h2 Child requests
    %table{:class=>'table-striped table-condensed'}= render @mws_request.sub_requests
