.modal-header
  %button.close{ "data-dismiss"=>"modal"} x
  %h3= @title

= simple_form_for(@variant, :remote=>true, :html=>{:class=>'form-horizontal'}) do |f|
  .modal-body	
    = f.input :product_id, :as=>:hidden
    = f.input :sku, :class=>'control-label'
    = f.input :color1, :placeholder=>'Variation Title', :input_html=>{:class=>'input-small'}, :wrapper_html=>{:class=>'inline'}
    = f.input :color1_code, :label=>false, :placeholder=>'SKU Code', :input_html=>{:class=>'input-small'}
    = f.input :color2, :placeholder=>'Variation Title', :input_html=>{:class=>'input-large'}
    = f.input :color2_code, :placeholder=>'SKU Code', :input_html=>{:class=>'input-small'}
    = f.input :amazon_description, :as=>:text, :input_html=>{:rows=>3}

    %table{:style=>'vertical-align:top;'}
      %tr
        %th MSRP
        %th Price
        %th Sale Price
        %th Cost
      %tr{:style=>'vertical-align:top;'}
        %td= f.input :msrp, :label=>false, :input_html=>{:class=>'input-small'}, :wrapper_html=>{:class=>'inline'}
        %td= f.input :price, :label=>false, :input_html=>{:class=>'input-small'}, :wrapper_html=>{:class=>'inline'}
        %td= f.input :sale_price, :label=>false, :input_html=>{:class=>'input-small'}, :wrapper_html=>{:class=>'inline'}
        %td= f.input :cost_price, :label=>false, :input_html=>{:class=>'input-small'}, :wrapper_html=>{:class=>'inline'}
	
  .modal-footer
    = f.submit :class=>'btn btn-primary btn-medium'
    = link_to 'Destroy', @variant, confirm: 'Are you sure?', method: :delete, :remote=>true, :class=>'btn btn-medium btn-danger'