<p id="notice"><%= notice %></p>

<p>
  <b>Sku:</b>
  <%= @sku_mapping.sku %>
</p>

<p>
  <b>Sku Mapable Type:</b>
  <%= @sku_mapping.sku_mapable_type %>
</p>

<p>
  <b>Sku Mapable ID:</b>
  <%= @sku_mapping.sku_mapable_id %>
</p>


<%= link_to 'Edit', edit_sku_mapping_path(@sku_mapping) %> |
<%= link_to 'Back', sku_mappings_path %>
