%h1 Listing import_products

%table
  %tr
    %th Name
    %th Description
    %th Available on
    %th Deleted at
    %th Meta description
    %th Meta keywords
    %th Brand
    %th Base sku
    %th Category
    %th Product type
    %th Variation theme
    %th Department
    %th File date
    %th Amazon template
    %th Keywords
    %th Keywords
    %th
    %th
    %th

  - @import_products.each do |import_product|
    %tr
      %td= import_product.name
      %td= import_product.description
      %td= import_product.available_on
      %td= import_product.deleted_at
      %td= import_product.meta_description
      %td= import_product.meta_keywords
      %td= import_product.brand_id
      %td= import_product.base_sku
      %td= import_product.category
      %td= import_product.product_type
      %td= import_product.variation_theme
      %td= import_product.department
      %td= import_product.file_date
      %td= import_product.amazon_template
      %td= import_product.keywords
      %td= import_product.keywords
      %td= link_to 'Show', import_product
      %td= link_to 'Edit', edit_import_product_path(import_product)
      %td= link_to 'Destroy', import_product, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Import product', new_import_product_path
