= simple_form_for @product, :html=>{:class=>'form-horizontal'} do |f|

  .row
    .span6

      = f.association :brand

      = f.input :name, :input_html=>{:class=>'input-xlarge'}
      = f.input :amazon_name, :input_html=>{:class=>'input-xlarge'}
      
      = f.input :sku, :placeholder=>'sku', :input_html=>{:class=>'input-small'}, :wrapper_html=>{:class=>'inline'}
      = f.input :sku2, :placeholder=>'sku2', :label=>false, :input_html=>{:class=>'input-small'}

      = f.input :category
			
      = f.input :department, :collection=>["Men's", "Women's", "Unisex"]
			
      = f.input :product_type, :collection=>['Accessory', 'Shorts', 'Shirt', 'Pants', 'Jacket']
      = f.input :variation_theme, :collection=>['Size', 'SizeColor']
      
      .actions.controls
        = f.button :submit, :class=>'btn btn-primary btn-large'
        = link_to 'Delete', @product, confirm: 'Are you sure? This will remove all Variants, VariantImages, and SubVariants as well.  There is no undo.', method: :delete , :class=>'btn btn-danger btn-large'


    .span6

      = f.input :description, :as=>:text, :input_html=>{:rows=>3, :class=>'input-xlarge'}
      = f.input :amazon_description, :as=>:text, :input_html=>{:rows=>3, :class=>'input-xlarge'}

    

      = f.input :bullet_points, :as=>:text, :input_html=>{ :rows=>3, :class=>'input-xlarge' }
      = f.input :style_keywords, :as=>:text, :input_html=>{:rows=>3, :class=>'input-xlarge'}
      = f.input :search_keywords, :as=>:text, :input_html=>{:rows=>3, :class=>'input-xlarge'}
      = f.input :occasion_lifestyle_keywords, :input_html=>{:as=>:text, :rows=>3, :class=>'input-xlarge'}
	
      .control-group
        %label.collection-label= "Tags for this product"
        .controls= text_field_tag 'tags', ''
          