-#- variants_arr = product.variants
.product
	%div
		= image_tag product.brand.icon(:thumb)
		- master = product.master
		- if !master.nil?
			- if master.variant_images.count>=1
				= link_to image_tag(product.master.variant_images.first.image(:thumb)), product
	%div
		= link_to "#{truncate(product.name)} [#{product.variants.count}]", product
	%div
		%input{:type=>"checkbox", :name=>"product_ids", :value=>product.id}
		= link_to image_tag('page_edit.png', :title=>'Edit Product', :alt=>'E'), edit_product_path(product)
		= link_to image_tag('delete.png', :title=>'Delete Product', :alt=>'X'), product, confirm: 'Are you sure?', method: :delete
		
		-tag_cloud(@tags, %w("label","label label-success","label label-warning","label label-important")) do |tag, css_class|
			= link_to tag.name, :class => "label label-warning"

  %td
    - product.stores.each do |s|
      %span{:class=>"label label-inverse"}= s.name

  %td
    = link_to edit_product_path(product) do
      %i.icon-pencil
		
    = link_to product, confirm: 'Are you sure?', method: :delete do
      %i.icon-remove		
