.pull-right
	= form_tag products_path, :method => 'get', :class=>'form-search' do
		= text_field_tag :search, @search
		= submit_tag :search, :name => nil, :class => "btn btn-primary btn-small"
		=link_to 'New Product', new_product_path, :class => "btn btn-small"

.pull-right= paginate @products

%h1= "Products: #{@title}"

%table{:class=>'table table-condensed table-striped'}
	%thead
		%tr
			%th
			%th Brand
			%th Product
			%th Variants / Subs / Images
			%th Tags
			%th Stores
			%th Action
	%tbody= render @products
	


