.pull-right
  = form_tag products_path, :method => 'get', :class=>'form-search' do
    = text_field_tag :search, @search
    = submit_tag :search, :name => nil, :class => "btn btn-primary btn-small"
    =link_to '+ Add Product', new_product_path, :class => "btn btn-small"

%h1= "Products: #{@title}"
- if !params[:listing_group]
  = paginate @products

%table{:class=>'table table-condensed table-striped'}= render @products
	


