.row
  .span5

    %h1= @product.name_for_amazon
    %br

    .pull-left= link_to '+ Add Variant', new_variant_path(:product_id => @product.id), :remote=>true, :class=>'btn btn-small'
    .pull-left= link_to 'Edit', edit_product_path(@product), :class=>'btn btn-small'
	
    %div{:class=>'pull-left btn-group'}
      = link_to '#', :class=>'btn btn-small dropdown-toggle', "data-toggle"=>"dropdown" do
        = "Sync"
        %span.caret
      %ul.dropdown-menu
        - Store.all.each do |s|
          %li
            = link_to listings_path(:listing=>{:product_id=>@product.id, :store_id=>s.id }), { :method=>:post, :controller=>'listings', :action=>:create, :remote=>true } do
              %i.icon-arrow-right
              = s.name
        - if @product.stores.any?
          %li.divider
            - @product.stores.each do |s|
              %li.remove
                = link_to listings_path(:listing=>{:product_id=>@product.id, :store_id=>s.id, :operation_type=>'Delete' }), { :method=>:post, :controller=>'listings', :action=>:create, :remote=>true } do
                  %i.icon-remove
                  = s.name
	
    .pull-right=link_to image_tag(@product.brand.icon(:thumb)), products_path(:brand_id => @product.brand.id)		
		
    %br
    %br

    %dl.dl-horizontal
      %dt Brand
      %dd= @product.brand.name
      
      %dt SKU
      %dd
        = @product.sku
        - if !@product.sku2.blank?
          = ' / ' + @product.sku2
		
      %dt Category
      %dd= @product.category

      %dt Department
      %dd= @product.department

      %dt Product Type
      %dd= @product.product_type

      %dt Variation Theme
      %dd= @product.variation_theme					

      %dt Bullet Points
      %dd= @product.bullet_points

      %dt Style Keywords
      %dd= @product.style_keywords

      %dt Search Keywords
      %dd= @product.search_keywords

      %dt Occasion Lifestyle Keywords
      %dd= @product.occasion_lifestyle_keywords

      %dt Description
      %dd= @product.description_for_amazon
	
  .span7#variants= render @product.variants

.row
  .span12
    %h2 MWS Messages (debug)
    %table{:class=>'table table-striped'}=render @product.mws_messages